
/* Каталог туров */
.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 15px 0 20px 0;
}

.catalog-filter {
  display: flex;
  margin: 0 10px 40px;
}
.catalog-filter_item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 4px;
    font-size: 16px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    width: 230px;;
}
.catalog-filter_select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.375rem 1rem 0.375rem 0.75rem;
  cursor: pointer;
  display: block;
  width: 95%;
  font-weight: 400;
  border: 1px solid #d1d0d2;
  background-color: #ffffff;
  border-radius: 5px;
  color: #2a2929;
  outline-color: #968246;
}
.catalog-filter_select:not([multiple]) {
  padding-right: 2.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) center;
  background-size: 0.85em auto;
  background-image: url(/img/tours/select.png);
}



.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.catalog-wrap {
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.catalog-card {
  position: relative;
  width: 350px;
  margin: 0 10px 30px 10px;
  background-color: #f0eff3;
  transition: 0.3s;
  border-radius: 8px;
  border: 1px solid #c4c3c3;
  max-height: 530px;
}

.catalog-card_img {
  border-radius: 5px;
}

.catalog-card_content {
  padding: 20px 12px;
}

.catalog-card_head {
  font-size: 25px;
  color: #0a0a0a;
  margin-bottom: 2px;
}

.catalog-card_text {
  font-size: 15px;
  margin-bottom: 6px;
  color: #0a0a0a;
}

.catalog-card_additional {
  font-size: 13px;
  margin-bottom: 0;
  color: #2d2d2d;
}

.catalog-card_footer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 40px;
}


.catalog-card_body {
  background-color: #f6f6f6;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 25px 20px 20px;
}

.catalog-card_title {
  color: #0a0a0a;
  font-size: 18px;
}



/* Планшеты и мобильные устройства */
@media screen and  (max-width: 768px) {
  .catalog-wrap {
    max-width: 380px;
    padding: 0 10px;
  }

  .catalog-card_body {
    padding: 15px 10px 10px;
  }

  .catalog-card_title {
    font-size: 17px;
  }

  .catalog-card_head {
    font-size: 20px;
    color: #0a0a0a;
    margin-bottom: 2px;
  }

  .catalog-card_text {
    font-size: 14px;
    margin-bottom: 6px;
    color: #0a0a0a;
  }

  .catalog-card_additional {
    font-size: 11px;
  }
}

@media screen and  (max-width: 960px) {
  .catalog-wrap {
    max-width: 760px;
  }
  .catalog-filter {
    flex-direction: column;
    margin: 0 5px 20px;
  }
  .catalog-filter_item {
    font-size: 13px;
  }

}

@media screen and  (max-width: 1200px) {
  .catalog-wrap {
    max-width: 1140px;
  }
}
